* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;

  >div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
  }

  button {
    padding: .75rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }

  #btn1 {
    background-color: black;
    color: white;
    transition: all .5s;

    &:hover {
      background-color: white;
      color: black;
      box-shadow: 5px 6px #333;
      border: 2px solid #333;
    }
  }

  #btn2 {
    position: relative;
    background-color: black;
    color: white;
    transition: all .5s;

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: black;
      z-index: -1;
      transition: all .5s;
    }

    &:hover {
      background-color: white;
      color: black;
      border: 2px solid #333;

      &::before {
        top: 7px;
        left: 6px;
      }
    }
  }

  #btn3 {
    position: relative;
    background-color: darkgreen;
    color: white;
    overflow: hidden;
    transition: all 0.5s;

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: -30px;
      width: 30px;
      height: 100%;
      background-color: lightcyan;
      z-index: 1;
      clip-path: polygon(50% 0, 0 100%, 50% 100%, 100% 0);
      transition: all 0.5s;
    }

    &:hover {
      background-color: green;

      &::before {
        left: calc(100%);
      }
    }
  }

  #shape1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: lightgrey;
    transition: all 0.5s;

    &::after {
      content: "Hello!";
      opacity: 0;
      font-weight: 600;
      transition: all 1s;
    }

    &:hover {
      background-color: yellow;

      &::after {
        opacity: 100%;
      }
    }
  }

  #shape2 {
    position: absolute;
    width: 100px;
    height: 100px;
    animation: move 6s linear infinite;
  }

  #figure1 {
    display: flex;
    flex-direction: column;

    img {
      z-index: 1;
      transition: all 0.5s;
    }

    figcaption {
      position: relative;
      transform: translateY(-100%);
      padding: 8px;
      opacity: 0;
      transition: all 0.5s;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: pink;
        z-index: -1;
        transition: all 0.5s;
      }
    }

    &:hover {
      img {
        filter: grayscale(100%);
      }

      figcaption {
        opacity: 100%;
        transform: translateY(0);
      }
    }
  }

  @keyframes move {

    0%,
    100% {
      background-color: red;
      top: 0;
      left: 0;
      clip-path: polygon(0 0, 0 0, 100% 0, 100% 100%, 0 100%);
      border-radius: 0%;
    }

    25% {
      background-color: green;
      top: 0;
      left: calc(100% - 100px);
      clip-path: polygon(0 0, 0 0, 100% 0, 100% 100%, 0 100%);
      border-radius: 50%;
    }

    50% {
      background-color: olive;
      top: calc(100% - 100px);
      left: calc(100% - 100px);
      clip-path: polygon(50% 0, 50% 0, 50% 0, 100% 100%, 0 100%);
      border-radius: 0%;
    }

    75% {
      background-color: orange;
      top: calc(100% - 100px);
      left: 0;
      clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
      border-radius: 0%;
    }
  }

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.green-box {
  width: 400px;
  height: 400px;
  animation: animate 0.75s ease reverse infinite;
}

@keyframes animate {

  0%,
  100% {
    background-image: conic-gradient(#7E9548 45deg, #CFDA8D 45deg, #CFDA8D 135deg, #B0C457 135deg, #B0C457 225deg, #9FB250 225deg, #9FB250 315deg, #7E9548 315deg);
    box-shadow: 5px 0px 20px 1px white;
  }

  25% {
    background-image: conic-gradient(#9FB250 45deg, #7E9548 45deg, #7E9548 135deg, #CFDA8D 135deg, #CFDA8D 225deg, #B0C457 225deg, #B0C457 315deg, #9FB250 315deg);
    box-shadow: 0px 5px 20px 1px white;
  }

  50% {
    background-image: conic-gradient(#B0C457 45deg, #9FB250 45deg, #9FB250 135deg, #7E9548 135deg, #7E9548 225deg, #CFDA8D 225deg, #CFDA8D 315deg, #B0C457 315deg);
    box-shadow: -5px 0px 20px 1px white;
  }

  75% {
    background-image: conic-gradient(#CFDA8D 45deg, #B0C457 45deg, #B0C457 135deg, #9FB250 135deg, #9FB250 225deg, #7E9548 225deg, #7E9548 315deg, #CFDA8D 315deg);
    box-shadow: 0px -5px 20px 1px white;
  }
}